exodos RCDATA "aditional\\images\\exodos.jpg"
exowin3x RCDATA "aditional\\images\\exowin3x.jpg"
scummvm RCDATA "aditional\\images\\scummvm.jpg"
1 MYFONT "aditional\\modern_dos\\ModernDOS8x16.ttf"
